<html>
    <head>
        <title>TO-DO </title>
        <script src="https://code.jquery.com/jquery-1.12.3.min.js" intergrity="sha256-aaODHAgvwQ1bFOGXMex+pC4PZIPsvn2h1sArYOhgXQ=" crossorigin="anonymous"></script>
        <link href="/assets/styles.css" rel="stylesheet" type="text/css"/>
    </head>
    <body>
        <h1>to-do list</h1>
        <form>
            <input type="text" name="item" placeholder="Add new item...." required/>
            <button type="submit">AddItem</button>

        </form>
        <ul>
            <li>Item 1</li>
            <li>Item 2</li>
            <li>Item 3</li>
        </ul>
    </body>
</html>