<!DOCTYPE html>
<html>

    <head>Basic Web App</head>
    <style>
        body{
            background:black;
            font-family:sans-serif;
            color:white;
            padding:30px;
        }
        h1{
            font-size:88px;
            text-transform: uppercase;
            letter-spacing:2px;
            text-align:center;
        }
    </style>
    <body>
        <%- include ('partials/nav.ejs') %>
        <h1>CONTACT US !!!</h1>
        <!-- <p>-24/7 Avialable</p> -->
    <form id='contact-form' method="POST" action="/contact-us">
        <label for="who">Who do you want to contact ?</label>
        <br/>
        <input type="text" name="who" value="<%=qs.person%>"/>
        <br/>
        <label for="department"> Which Department ?</label>
        <br/>
        <input type="text" name="department" value="<%=qs.dept%>"/>
        <br/>
        <label for="email"> your Email ?</label>
        <br/>
        <input type="text" name="email"/>
        <br/>
        <input type="submit" value="submit"/>
    </form>
    </body>
    </html>